@font-face {
  font-family: frog; /* set name */
  src: url(kaerukaeru-Regular.woff2); /* url of the font */
}

.pixelify-sans-uniquifier {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


h1{
    font-family: frog;
    color: #00696E;
}

h2{
    font-family: Pixelify Sans;
    color:#00696E;
}

.center{
  position: absolute;
  transform: translate(0,0);
  margin: 1vw;
  padding: 1vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container{
  position: relative;
  width: auto;
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vw;
  margin: 5vw;
}


a:visited{
    color: #00696E;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-exp{
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.display-exp div{
    padding: 5%;
    flex: 1;
    height: auto;
    overflow: hidden;

}

.flex-container{
  display:flex;
  flex-direction:column;
  width: 100vw;
  height: 50vw;

}

#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #000000;
  position: absolute;
}
#div2 {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 1px solid #000000;
  position: absolute;
  overflow: visible;
  align-items: center;
}

#div3 {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 1px solid #000000;
  position: absolute;
  overflow: visible;
  align-items: center;
}

#div4 {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 1px solid #000000;
  position: absolute;
  overflow: visible;
  align-items: center;
}

#div5 {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 1px solid #000000;
  position: absolute;
  overflow: visible;
  align-items: center;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto ;
}


.row {
  display: flex;
}

#drag1, #drag2, #drag3, #drag4{
width: 150px;
height: auto;
overflow: visible;
} 


#div9{
  float: left;
  width: 150px;
  height: auto;
  position: absolute;
  overflow: visible;
  align-items: center;
}

#div10 {
  float: left;
  width: 150px;
  height: 150px;
  position:absolute;
  overflow: visible;
  align-items: center;
}

#div10:hover{
    background-color: #00696E;
}

#div9:hover{
    background-color: #00696E;
}
